body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    font-family: Arial, sans-serif; 
}

#caja1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    margin: 10px 0;
}